* { margin: 0; padding: 0; outline: none; }
@font-face {
    font-family: 'Droid Sans';
    src: url('fonts/DroidSans.woff2') format('woff2'),
        url('fonts/DroidSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Droid Sans';
    src: url('fonts/DroidSans-Bold.woff2') format('woff2'),
        url('fonts/DroidSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body { font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 18px; color: #737c85; }
h2 { padding: 30px 0; }
ul { list-style: none outside none; }
a { text-decoration: none; }
.container { margin: 0 auto; width: 960px; position: relative; }

/*header*/ 
.header { background: url(images/organic-cover.jpg) no-repeat 0 0/cover; width: 100%; height: 934px; font-family: 'Lato', sans-serif; font-size: 15px; line-height: 19px; color: #fff; position: relative; }
.header:before{content: '';  background: url(images/organic-logo.png)no-repeat 0 0; width: 73px; height: 73px; display: block; position: absolute; top:0; left: 0; margin-left: 25px; cursor: pointer; }
.header:after { content:'';  background-color: rgb(255, 255, 255);  opacity: 0.502; width: 100%; height: 60px; left: 0; bottom:0; position: absolute; transform: rotate(1deg); }
.header .menu {  font-weight: bold; display: flex; align-items: center; justify-content: flex-start; height: 73px;}
.header .menu ul { position: relative;   }
.header .menu ul li { display: inline; text-transform: capitalize;padding-left: 75px; position: relative;}
.header .menu ul li:first-child:after,
.header .menu ul li:nth-child(2):after,
.header .menu ul li:nth-child(3):after
 { content: ''; background: url(images/arrow.png) no-repeat 0 0; width: 5px; height: 4px; display: block; position: absolute; right: -15px; top: 50%; cursor: pointer;}
.header .menu a { color: #fff; }
.header .menu ul li a:hover { color: #737c85;  }
.header .container .left { float: left; width: 50%; font-family: 'Lato', sans-serif; margin-top: 140px;}
.header .container h1 { font-size: 52px; line-height:62px; font-weight: 300; padding-bottom: 35px; }

/*Main*/
.main { font-family: 'Lato', sans-serif; margin: 50px 0; position: relative; }
.main:before {  content:'';  background-color: #fff; width: 100%; height: 60px; left: 0; top: -80px; position: absolute; transform: rotate(2deg); }
.main h2 { color: #fe992a; }
.main .container .quote { float: left;  width: 50%; margin: 50px 0; position: relative; }
.main .container .quote > blockquote { color: #fe992a; font-size: 20px; line-height: 24px; font-style: italic;  padding-right:  100px; position: relative;}
 .main .container .quote > blockquote:before, .main .container .quote > blockquote:after { content: '"'; font-size: 48px;  line-height: 52px; position: absolute; display: block; }
 .main .container .quote > blockquote:before { top:-25px; left: 0; }
.main .container .quote > blockquote:after { bottom:-50px; left: 50px; }

.main .container .prev, .main .container .next { font-size: 0; line-height: 0; text-indent: -999px; width: 30px; height: 30px; position: absolute; margin-top: 50px; }
.main .container .prev { background-color: #fe992a; right: 30px;}
.main .container .next { background-color: #ffba6e; right: 0; }
.main .container .prev span, .main .container .next span { border: 1px solid #fff; border-width: 0 2px 2px 0; display: inline-block; padding: 3px; top: 32%; right: 50%; position: absolute;  }
.main .container .prev span {transform: rotate(145deg); left: 50%; }
.main .container .next span {transform: rotate(-45deg);}
/*footer*/
.footer { padding: 100px 0; clear: both;  background-color: #e87775; color: #fff; font-family: 'Droid Sans'; font-style: 12px; line-height: 16px; }
.footer a { color: #fff; }
.footer .container .links { display: flex; justify-content: space-between; align-items: flex-start; } 
.footer .container .links > ul li { padding-bottom: 14px; }
.footer .container .links > ul li:first-child { font-weight: bold; }